= render "shared/navbar"

.content
  %h2 #{current_member.memberid}'s Dashboard
  .bandspace
    %h3 Your bands
    .band-ul
      - if @bands.empty?
        %p Get in the game!
      - else
        %ul{:class => "bands"}
          = @bands.each do | band |
            %li{:class => "band-name"} band.name
