%nav{:class => "navbar navbar-default"}
  %a{:class => "navbar-brand", :href => "#"} BandBoard
  %ul{:class => "nav navbar-nav navbar-right"}
    %button{:class => "btn btn-default navbar-btn", :href => "#"} Sign In
    %button{:class => "btn btn-default navbar-btn", :href => "#"} Sign Up
.jumbotron
  %h3 All the band stuff in one place!
  %button{:id => "start", :class => "btn btn-info", :href => "#"} Get Started!
